<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.icss.hotel.dao.UserMapper">
    <select id="login" parameterType="java.lang.String" resultType="com.icss.hotel.domain.User">
        SELECT * FROM user  WHERE account=#{account}
    </select>
    <insert id="register" parameterType="com.icss.hotel.domain.User">
        INSERT INTO user (account,password,email,phone,level,state) VALUES(#{account},#{password},#{email},#{phone},0,1)
    </insert>
</mapper>